.container{
    display: flex;
    background-color: #dddddd;
    margin: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container .element{
    width: 200px;
    height: 200px;
    background: orange;
}

.container-1:hover .element{
    transform: scale(3, 0.5) ;
}

.container-2:hover .element{
    transform: translate(200px, 50px) ;
}

.container-3:hover .element{
    transform: rotate(10deg) ;
}

.container-4:hover .element{
    transform: rotate(10deg) ;
}

.container-5:hover .element{
    transform: skewX(25deg) ;
}