.container{
    display: flex;
    background-color: #dddddd;
    margin: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container *{
    transform-style: preserve-3d;
}
.container .element{
    width: 200px;
    height: 200px;
    background: orange;
}

.container-1:hover .element{
    transform: scale(3, 0.5) ;
}

.container-2:hover .element{
    transform: translate(200px, 50px) ;
}

.container-3:hover .element{
    transform: rotate(10deg) ;
}

.container-4:hover .element{
    transform: rotate(10deg) ;
}

.container-5:hover .element{
    transform: skewX(25deg) ;
}

.container-11 .element{
   position: relative;
}

.container-11 .element .inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: red;  
}

.container-11:hover .element{
    transform: rotateX(70deg) ;
}